<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layoutUsuario.html}">
<body>
<section layout:fragment="content" class="margin-card-venda">
    <div class="row">
        <div class="col-6"><h4>Vendas Confirmados</h4></div>
        <div class="col-6 text-right">
            Filtrar Categoria <select id="filtrar-venda">
            <option value="0" selected>Todas</option>
            <option th:selected="${cat.id==idCategoria}" th:each="cat:${categorias}" th:value="${cat.id}"
                    th:text="${cat.nome}">
        </select>
        </div>
    </div>
    <div id="vendas" class="row">
        <div class="card-venda col-card-venda bg-card" th:each="venda:${vendas}">
            <span th:unless="${venda.produtoItens[0].imagens.size>0}">
                <img class="card-img-venda-home" th:src="@{/images/venda.png}" alt="Vendas">
            </span>
            <a th:if="${venda.produtoItens[0].imagens.size>0}" th:href="@{/venda/visualizar/venda-usuario/{id}(id=${venda.id})}">
                <img class="card-img-venda-home" th:src="@{${'/imagem/'+venda.produtoItens[0].imagens[0].file}}">
            </a>
            <div class="card-venda-text text-white">
                <h5 th:text="${venda.produtoItens[0].categoria.nome}"></h5>
                <span th:text="${venda.produtoItens[0].nome}"></span><br>
                <span th:text="${venda.estabelecimento.nome}"></span><br>
                <span th:text="${venda.data}"></span><br>
                <p th:inline="text">R$ [[${#numbers.formatDecimal(venda.total, 0, 'COMMA', 2, 'POINT')}]]</p>
                <a class="text-white" th:href="@{/venda/visualizar/venda-usuario/{id}(id=${venda.id})}">
                    Mais detalhes ></a>
            </div>
        </div>
    </div>
</section>
</body>
</html>
