<div class="card-venda col-card-venda bg-card" th:each="venda:${venda}">
            <span th:unless="${venda.imagens.size>0}">
                <img class="card-img-venda-home" th:src="@{/images/venda.png}" alt="Venda">
            </span>
    <a th:if="${venda.imagens.size>0}" th:href="@{/venda/visualizar/venda-usuario/{id}(id=${venda.id})}">
        <img class="card-img-venda-home" th:src="@{${'/imagem/'+venda.imagens[0].file}}">
    </a>
    <div class="card-body text-white">
        <div th:each="produtoItens:${venda.produtoItens}">
            <h5 th:text="${produtoItens.categoria.nome}"></h5>
        </div>
        <p th:text="${venda.data}"></p>
        <p th:inline="text">R$ [[${#numbers.formatDecimal(venda.total, 0, 'COMMA', 2, 'POINT')}]]</p>
        <a class="text-white" th:href="@{/venda/visualizar/venda-usuario/{id}(id=${venda.id})}">
            Mais detalhes ></a>
    </div>
</div>
